body{
    margin:0;
    background:#0b0b15;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
canvas{
    background:black;
    border:2px solid cyan;
}